/.idea
/__pycache__
/tests/.pytest_cache/
/.pytest_cache/
/core/__pycache__
/tests/__pycache__
*.docx
*.mlx
/study/
instances/vdp1.mat
tests/test.ipynb
tests/jax_test.ipynb
tests/console.ipynb
tests/console.ipynb
tests/test_julia.jl
