/.idea
/__pycache__
/tests/.pytest_cache/
/.pytest_cache/
/Solverz/__pycache__
/tests/__pycache__
*.docx
*.mlx
/study/
instances/vdp1.mat
tests/test.ipynb
tests/jax_test.ipynb
tests/console.ipynb
tests/test_julia.jl
tests/test_sp.ipynb
*.pyc
/docs/build/
Solverz/Lib/
Solverz/pyvenv.cfg
Solverz/Scripts
Solverz/share
*.nbc
*.nbi
/Solverz.egg-info
Solverz/_version.py
